


<div class="row">
    <h2 align="center" class="col-md-12"> PUCIT Magazine </h2>
</div>

<div class="row">

    <div class="col-md-5">
    </div>

    <a class="col-md-2"> Get youself logged in and feel free to speak up about PUCIT</a>
</div>


<div class="row" />

<div class="col-md-4">

</div>

<div class="col-md-4">

    <div class="jumbotron">
        <img src="~/Content/loginlogo.png" class="center-block" style="margin-left: 60px;">



        <div class="form-group">

            <br>
            <form method="post" action="Authenticate">
                <input class="form-control" placeholder="Username" name="Username" />
                <input class="form-control" placeholder="Password" name="Password" />
                <button type="submit" class="btn btn-default center-block" style="margin-left: 70px;">Login</button>

            </form>
        </div>


    </div>

</div>





<div class="row">

    <div class="col-lg-5">
    </div>

    <div class="col-lg-2">

        <a href="/Home/Register"> Don't have an account, we've got fix for this.  Create Account </a>

    </div>



</div>

