



    <h2 align="center" >PUCIT Magazine</h2>


    <div class="row">

        <div class="col-md-2">
        </div>


        <div class="col-md-8 jumbotron">



            <ul class="nav  text-center">
                <li role="presentation" class="active"><a href="#">Home</a></li>
                <li role="presentation"><a href="#">Profile</a></li>
                
            </ul>

            <ul class="nav nav-pills text-center" style="margin-left:20px">
                
                <li> <p style="font-size:14px"> Hi there any thing new came up to your mind ??? If so do share it with us. </p>  </li>

            </ul>


            <ul class="nav nav-pills text-center" style="margin-left:170px">
                
                <li>
                    <a  href="/Home/ArticleSubmit">
                        Submit an Article

                    </a>
                </li>

            </ul>



        </div>




    </div>

